<div class="container">
    <div *ngFor="let category of catogories; let i=index">
            <div (click)="toggle(category,i)" class="accordion-header">
                <i *ngIf="!category.showSubCategories" class="fa fa-plus-square-o"></i>
                <i *ngIf="category.showSubCategories" class="fa fa-minus-square-o"></i>
                <div class="accordion-title"> {{category.title}}</div>
            </div>

            <div  *ngIf="category.showSubCategories">
                <div *ngFor="let subCategory of category.list">
                    <div class="accordion-body"> {{subCategory}}</div>
                </div>
            </div>
  
    </div>
</div>