<div class="container">
    <div *ngFor="let category of catogories; let i=index">
        <div class="accordion-header" (click)="toggle(category,i)">
            <i *ngIf="!showBody" class="fa fa-plus-square-o"></i>
            <i *ngIf="showBody" class="fa fa-minus-square-o"></i>
            <div class="accordion-title"> {{category.title}}</div>
        </div>

        <div class="accordion-body" *ngIf="category.showSubCategories">
            <div *ngFor="let subCategory of category.list">
                <div> {{subCategory}}</div>
            </div>
        </div>
    </div>
</div>