<div class="container-fluid">
    <div class="accordion ">
        <div *ngFor="let category of catogories; let i=index" class="accordion-item p-3">
            <div (click)="toggle(category)" class="accordion-header row pb-2 ">
                <i *ngIf="!category.showSubCategories" class="fa fa-plus-square-o col-2 m-auto"></i>
                <i *ngIf="category.showSubCategories" class="fa fa-minus-square-o col-2  m-auto"></i>
                <div class="accordion-title col-10 text-start"> {{category.title}}</div>
            </div>

            <div *ngIf="category.showSubCategories" class="px-5">
                <div *ngFor="let subCategory of category.list" class="py-2">
                    <div (click)="subCategorySelect(subCategory)"> {{subCategory}}</div>
                </div>
            </div>
        </div>

    </div>

</div>





